@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
body {
  font-family: Roboto;
  line-height: 1.5;
  margin: 0;
  color: #e0e0e0;
  background-color: #08020d;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #fff;
}

h1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.wrapper {
  width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 20px 0;
}

.wrapper-artist {
  width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 20px 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn-big {
  width: 318px;
  height: 66px;
}

.btn-small {
  width: 135px;
  height: 53px;
}

.link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 414px) {
  .wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }
  .body {
    width: 414px;
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}
.p-center {
  text-align: center;
}

.text-size7 {
  font-size: 64px;
}

.text-size6 {
  font-size: 56px;
}

.text-size5 {
  font-size: 48px;
}

.text-size4 {
  font-size: 40px;
}

.text-size3 {
  font-size: 32px;
}

.text-size2 {
  font-size: 24px;
}

.text-size1 {
  font-size: 16px;
}

.text-small {
  font-size: 13px;
}

.line-height1 {
  line-height: 1em;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.mr-top40 {
  margin-top: 40px;
}

.mr-top16 {
  margin-top: 16px;
}

.mr-bot100 {
  margin-bottom: 100px;
}

.mr-bot65 {
  margin-bottom: 65px;
}

.mr-bot64 {
  margin-bottom: 64px;
}

.mr-bot48 {
  margin-bottom: 48px;
}

.mr-bot30 {
  margin-bottom: 30px;
}

.mr-bot24 {
  margin-bottom: 24px;
}

.mr-bot16 {
  margin-bottom: 16px;
}

.mr-bot15 {
  margin-bottom: 15px;
}

.mr-top64 {
  margin-top: 64px;
}

.mr-left15 {
  margin-left: 15px;
}

.w-1200 {
  width: 1200px;
}

.orange {
  color: #f89202;
}

.white {
  color: #fff;
}

.dark-grey {
  color: #cacaca;
}

.bg-purple {
  background-color: #5328a1;
}

.bg-red {
  background-color: #95390c;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  padding: 25px 120px;
  font-size: 11px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: #fff;
}

.img-logo {
  height: 24px;
  width: 24px;
  border: none;
}

.text-logo {
  font-size: 11px;
  text-transform: uppercase;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-left: 90px;
}

.header-search {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  background-color: #3c3b3d;
  color: #757575;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

nav a {
  text-decoration: none;
  color: #cacaca;
}

nav a:hover {
  color: #fff;
}

@media (max-width: 414px) {
  .header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 25px 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 18px;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 17px;
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3px;
    padding-left: 0;
  }
  .header-search {
    width: 374px;
  }
}
.banner {
  width: 100%;
  height: 750px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.banner-section {
  padding: 125px 120px 200px;
}

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
}

.input {
  min-width: 270px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px 18px;
  margin-bottom: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  background: transparent;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  padding-top: 16px;
}

.btn-green {
  width: 570px;
  height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #34c176;
}

@media (max-width: 414px) {
  .banner {
    height: 100%;
  }
  .banner-section {
    padding: 78px 20px 201px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
  .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .input {
    width: 374px;
  }
  .btn-green {
    width: 374px;
  }
}
.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.pricing-items-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.pricing-item {
  width: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
}

.pricing-header {
  margin-top: 24px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 200px;
  gap: 16px;
}

.price-text {
  height: 57px;
  width: 318px;
}

.img-1 {
  background-image: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3 {
  background-image: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 414px) {
  .pricing {
    width: 414px;
    height: 2220px;
  }
  .pricing-items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .w-1200 {
    width: 374px;
  }
  .pricing-item {
    width: 374px;
    padding: 0;
  }
  .pricing-header {
    margin-top: 16px;
  }
  .btn {
    width: 326px;
  }
  .price-text {
    width: 324px;
  }
}
.news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-item {
  width: 1200px;
  height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.news-body {
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-header {
  font-size: 30px;
}

.news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.img-news {
  width: 575px;
}

.icon-author-news {
  width: 19px;
  height: 19px;
}

@media (max-width: 414px) {
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .news-body {
    width: 374px;
  }
  .news-header {
    font-size: 16px;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .img-news {
    width: 374px;
    height: 186px;
  }
  .mr-bot16-mob {
    margin-bottom: 16px;
  }
  .btn-news-mob {
    width: 135px;
  }
}
.app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-body {
  margin-right: 144px;
}

.img-app {
  width: 333px;
  height: 278px;
  margin-right: 123px;
}

.btn-app {
  width: 131px;
  height: 53px;
  background-color: #95390c;
  border: none;
  border-radius: 32px;
}

@media (max-width: 414px) {
  .app-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .app-body {
    margin-right: 0;
  }
  .img-app {
    margin: 0;
  }
}
.footer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-wrapper {
  width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 62px 20px 0;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 72px;
}

.menu-contacts {
  width: 270px;
}

.menu-contacts p {
  color: #e0e0e0;
}

.footer-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer-line {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 272px;
  left: 0;
  background-color: #fff;
}

.low-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 42px 0 49px;
}

.low-menu p {
  color: #e0e0e0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  height: 24px;
  list-style-type: none;
}

.footer-link {
  font-size: 16px;
  color: #e0e0e0;
  text-decoration: none;
  line-height: 24px;
}

@media (max-width: 414px) {
  .footer-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }
  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer-line {
    top: 686px;
  }
  .low-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.artist-banner {
  width: 100%;
  height: 713px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.artist-banner-section {
  padding: 200px 120px 0;
}

.artist-banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.btn-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 62px;
  padding: 0;
  border-radius: 5px;
  border: none;
}

.btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-left: 31px;
}

.icon-btn {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 414px) {
  .artist-banner {
    height: 730px;
  }
  .artist-banner-section {
    padding: 55px 20px 0;
  }
  .artist-banner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.popular-songs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-song {
  width: 55px;
  height: 55px;
}

.songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.songs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 552px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time {
  margin-top: 18px;
}