@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
body {
  font-family: Roboto;
  line-height: 1.5;
  margin: 0;
  color: #e0e0e0;
  background-color: #08020d;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #fff;
}

h1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}
.p-center {
  text-align: center;
}

.text-size7 {
  font-size: 64px;
}

.text-size6 {
  font-size: 56px;
}

.text-size5 {
  font-size: 48px;
}

.text-size4 {
  font-size: 40px;
}

.text-size3 {
  font-size: 32px;
}

.text-size2 {
  font-size: 24px;
}

.text-size1 {
  font-size: 16px;
}

.text-small {
  font-size: 13px;
}

.line-height1 {
  line-height: 1em;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.nowrap {
  white-space: nowrap;
}

.mr-top40 {
  margin-top: 40px;
}

.mr-top64 {
  margin-top: 64px;
}

.mr-bot64 {
  margin-bottom: 64px;
}

.w-1200 {
  width: 1200px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  padding: 25px 120px;
  font-size: 11px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: #fff;
}

.img-logo {
  height: 24px;
  width: 24px;
  border: none;
}

.text-logo {
  font-size: 11px;
  text-transform: uppercase;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-left: 90px;
}

.header-search {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  background-color: #3c3b3d;
  color: #757575;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

nav a {
  text-decoration: none;
  color: #cacaca;
}

nav a:hover {
  color: #fff;
}

@media (max-width: 414px) {
  .header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 25px 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 18px;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 17px;
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3px;
    padding-left: 0;
  }
  .header-search {
    width: 374px;
  }
}
.banner {
  width: 100%;
  height: 750px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.banner-section {
  padding: 125px 120px 200px;
}

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
}

.input {
  min-width: 270px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px 18px;
  margin-bottom: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  background: transparent;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  padding-top: 16px;
}

.btn-green {
  width: 570px;
  height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #34c176;
}

@media (max-width: 414px) {
  .banner {
    height: 100%;
  }
  .banner-section {
    padding: 78px 20px 201px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
  .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .input {
    width: 374px;
  }
  .btn-green {
    width: 374px;
  }
}
.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
}

.pricing-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0 40px;
  gap: 50px;
}

.pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 368px;
  padding: 24px 24px 0;
  border-radius: 1rem;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 200px;
  gap: 16px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 66px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.img-1 {
  background-image: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-2 {
  background-image: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-3 {
  background-image: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 414px) {
  .pricing {
    padding: 100px 20px 0;
  }
  .pricing-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}