.p-center {
  text-align: center;
}

.text-size7 {
  font-size: 64px;
}

.text-size6 {
  font-size: 56px;
}

.text-size5 {
  font-size: 48px;
}

.text-size4 {
  font-size: 40px;
}

.text-size3 {
  font-size: 32px;
}

.text-size2 {
  font-size: 24px;
}

.text-size1 {
  font-size: 16px;
}

.text-small {
  font-size: 13px;
}

.line-height1 {
  line-height: 1em;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: $white;
}

.nowrap {
  white-space: nowrap;
}

.mr-top40 {
  margin-top: 40px;
}

.mr-top64 {
  margin-top: 64px;
}
