body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: $grey;
  background-color: $black;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: $white;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

.wrapper {
  width: 1240px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 0;
}

.wrapper-artist {
  width: 1240px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 100px 20px 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn-big {
  width: 318px;
  height: 66px;
}

.btn-small {
  width: 135px;
  height: 53px;
}

.link {
  color: $white;
  text-decoration: none;
}

@media (max-width: 414px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }

  .body {
    width: 414px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}
