.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.pricing-items-wrapper {
  max-width: 1200px;
  display: flex;
  gap: 50px;
}

.pricing-item {
  width: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
}

.pricing-header {
  margin-top: 24px;
}

.price {
  display: flex;
  align-items: flex-start;
  margin-top: 200px;
  gap: 16px;
}

.price-text {
  height: 57px;
  width: 318px;
}

@mixin img-backgroung($number) {
  background-image: url("../images/subscribe_#{$number}.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  @include img-backgroung("1");
}

.img-2 {
  @include img-backgroung("2");
}

.img-3 {
  @include img-backgroung("3");
}

@media (max-width: 414px) {
  .pricing {
    width: 414px;
    height: 2220px;
  }

  .pricing-items-wrapper {
    flex-direction: column;
  }

  .w-1200 {
    width: 374px;
  }

  .pricing-item {
    width: 374px;
    padding: 0;
  }

  .pricing-header {
    margin-top: 16px;
  }

  .btn {
    width: 326px;
  }

  .price-text {
    width: 324px;
  }
}
