$black: #08020d !default;
$white: #fff !default;
$grey: #e0e0e0 !default;
$dark_grey: #cacaca !default;
$placeholder: #757575 !default;
$dark: #3c3b3d !default;
$green: #34c176 !default;
$orange: #f89202 !default;
$purple: #5328a1 !default;
$red: #95390c !default;

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
